<div class="main">
  <div class="center">
    <div class="main sentence"> <h1>Software estimation is now easier</h1> </div>
    <div class="secondary sentence"> <h2> Evaluate the aspects of a task to estimate it better </h2> </div>
    <div>
      <button class="large" (click)="startNow()" mat-flat-button color="secondary">
        <mat-icon>rocket</mat-icon> Start Now!
      </button>
    </div>
  </div>

</div>
<div class="feature">Effort</div>
<div class="feature">Risk</div>
<div class="feature">Complexity</div>
<div class="feature">Uncertainity</div>
