.main {
  min-height: 50%;
  display: flex;
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  align-items: center;
}

.main button {
  margin-bottom: 1em;
}

.sentence {
  padding: 2em;
}

.main h1 {
  color: #fff;
  margin: auto;
  font-size: 50px;

}

h1 {
  font-weight: 600;
}

.feature {
  display: inline-block;
}


.center {
  margin: auto;
  text-align: center;
}

.mat-flat-button.large {
    font-size: 24px;
    padding: 5px;
}

.mat-flat-button.large .mat-icon {
      font-size: 48px;
      width: 48px;
      height: 48px;

}
.feature {
  padding-top: 2em;
}

.feature .sentence {
  padding: 1em;
}

.feature .sentence h1{
  margin: 0px;
}

.feature .icon {
 font-size: 5em;
 padding: 0.5em;
}

@media (min-width: 800px) {
  .feature {
    width: 25%;
  }
}
