<div class="main">
  <div class="center">
    <div class="main sentence"> <h1>Software estimation is now easier</h1> </div>
    <div class="secondary sentence"> <h2> Evaluate the aspects of a task to estimate it better </h2> </div>
    <div>
      <button class="large" (click)="startNow()" mat-flat-button color="secondary">
        <mat-icon>rocket</mat-icon> Start Now!
      </button>
    </div>
  </div>

</div>
<div class="feature">
  <div class="center">
    <div class="icon"> 💪 </div>
    <div class="sentence"> <h1>Effort</h1> </div>
    <div class="sentence"> Will the team need a high amount of time or resources to complete it?  </div>
  </div>
</div>
<div class="feature">
  <div class="center">
    <div class="icon"> ⚠️</div>
    <div class="sentence"> <h1>Risk</h1> </div>
    <div class="sentence"> What external aspects endanger this task?  </div>
  </div>
</div>
<div class="feature">
  <div class="center">
    <div class="icon"> 🧮 </div>
    <div class="sentence"> <h1>Complexity</h1> </div>
    <div class="sentence"> How hard is this to understand, both technically and from a domain point of view? How many components are involved?  </div>
  </div>
</div>
<div class="feature">
  <div class="center">
    <div class="icon"> 🥴 </div>
    <div class="sentence"> <h1>Uncertainty</h1> </div>
    <div class="sentence">  What are there unknowns? How well does the team know the code base, each other’s skills, the technology, the business process?  </div>
  </div>
</div>

