<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>We Estimate!</span>
</mat-toolbar>
<div class="main-wrapper">
  <div class="content-wrapper center" >
    <mat-card *ngIf="isAdmin" >
      <mat-form-field appearance="fill">
        <mat-label>Task:</mat-label>
        <input matInput id="task" name="task" #task value="">
      </mat-form-field>
      <button [disabled]="!task.value" (click)="newEstimationTask(task.value)" mat-button>
        <mat-icon>fiber_new</mat-icon> New task to estimate
      </button>
      <button *ngIf="isAdmin" (click)="revealEstimations()" mat-button>
        <mat-icon>done</mat-icon> Reveal estimations
      </button>
      <button *ngIf="isAdmin" (click)="newEstimationTask(task.value)" mat-button>
        <mat-icon>done</mat-icon> Reset estimations
      </button>
    </mat-card>
    <mat-card *ngIf="(session | async)?.showEstimationsDetails">
      <table mat-table  >
        <tr>
          <td class="header">
            Estimation
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('NA')">
            NA
          </td>
          <td   *ngIf="estimationSummary && estimationSummary.get('XS')">
            XS
          </td>
          <td   *ngIf="estimationSummary && estimationSummary.get('S')">
            S
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('M')">
            M
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('L')">
            L
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('XL')">
            XL
          </td>
        </tr>
        <tr>
          <td class="header">
            Count
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('NA')">
            {{estimationSummary.get('NA')}}
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('XS')">
            {{estimationSummary.get('XS')}}
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('S')">
            {{estimationSummary.get('S')}}
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('M')">
            {{estimationSummary.get('M')}}
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('L')">
            {{estimationSummary.get('L')}}
          </td>
          <td  *ngIf="estimationSummary && estimationSummary.get('XL')">
            {{estimationSummary.get('XL')}}
          </td>
        </tr>
      </table>
    </mat-card>
    <mat-card>
      <h2> We are estimating: {{(session | async)?.title}} </h2>
      <mat-form-field  appearance="fill">
        <mat-label>Name:</mat-label>
        <input matInput id="username" name="username" #username value="">
      </mat-form-field>
      <button [disabled]="!username.value || currentEstimation" (click)="newEstimation(username.value)" mat-button>
        <mat-icon>add</mat-icon> Join
      </button>
      <app-estimation
        [estimation]="currentEstimation"
        [showDetails]="true"
        [disabled]="!editCurrentEstimationEnabled"
        [layout] = "'horizontal'"
        (deleteEstimationEvent)="deleteCurrentEstimationEventHandler()"
        (estimationReadyEvent)="estimationReadyEventHandler($event)">
      </app-estimation>
    </mat-card>
    <mat-card class="container">
      <app-estimation
        *ngFor="let estimation of estimations | async"
        [estimation]="estimation"
        [showDetails]="(session | async)?.showEstimationsDetails"
        [disabled]="true"
        (deleteEstimationEvent)="deleteEstimationEventHandler($event)">
      </app-estimation>
    </mat-card>
  </div>
</div>
