<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>We Estimate!</span>
</mat-toolbar>
<div class="content-wrapper">
  <mat-form-field  appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput id="username" name="username" #username value="">
  </mat-form-field>
  <button [disabled]="!username.value || currentEstimation" (click)="newEstimation(username.value)" mat-button>
    <mat-icon>add</mat-icon> Join
  </button>
  <div *ngIf="isAdmin" >
    <mat-form-field appearance="fill">
      <mat-label>Task:</mat-label>
      <input matInput id="task" name="task" #task value="">
    </mat-form-field>
    <button (click)="newEstimationTask(task.value)" mat-button>
      <mat-icon>fiber_new</mat-icon> New task to estimate
    </button>
    <button *ngIf="isAdmin" (click)="revealEstimations()" mat-button>
      <mat-icon>done</mat-icon> Reveal estimations
    </button>
  </div>
  <h2> We are estimating: {{(session | async)?.title}} </h2>
  <h2> Session id: {{ (session | async)?.id}} </h2>
  <div class="horizontal-container">
    <app-estimation
      [estimation]="currentEstimation"
      [showDetails]="true"
      (deleteEstimationEvent)="deleteCurrentEstimationEventHandler()"
      (estimationReadyEvent)="estimationReadyEventHandler($event)">
    </app-estimation>
  </div>
  <div class="container">
    <app-estimation
      *ngFor="let estimation of estimations | async"
      [estimation]="estimation"
      [showDetails]="(session | async)?.showEstimationsDetails"
      (deleteEstimationEvent)="deleteEstimationEventHandler($event)">
    </app-estimation>
  </div>
</div>
