<mat-card class="item" *ngIf="estimation" (dblclick)="edit.emit(estimation)">
  <h2>{{ estimation.title }}</h2>
  <h2>{{ estimation.estimator }}</h2>
  <mat-card class="item">
    <div class="label"> Complexity: {{formatEstimationLabel(estimation.complexity)}} </div>
    <mat-slider min="0" max="5" step="1" tickInterval="auto" [displayWith]="formatEstimationLabel" thumbLabel [(ngModel)]="estimation.complexity"></mat-slider>
  </mat-card>
  <mat-card class="item">
    <div class="label"> Effort: {{formatEstimationLabel(estimation.effort)}} </div>
    <mat-slider min="0" max="5" step="1" tickInterval="auto" [displayWith]="formatEstimationLabel" thumbLabel [(ngModel)]="estimation.effort"></mat-slider>
  </mat-card>
  <mat-card class="item">
    <div class="label"> Uncertainty: {{formatEstimationLabel(estimation.uncertainty)}} </div>
    <mat-slider min="0" max="5" step="1" tickInterval="auto" [displayWith]="formatEstimationLabel" thumbLabel [(ngModel)]="estimation.uncertainty"></mat-slider>
  </mat-card>
  <mat-card class="item">
    <div class="label"> Risk: {{formatEstimationLabel(estimation.risk)}} </div>
    <mat-slider min="0" max="5" step="1" tickInterval="auto" [displayWith]="formatEstimationLabel" thumbLabel [(ngModel)]="estimation.risk"></mat-slider>
  </mat-card>
</mat-card >
